body {
        margin: 0px;
        padding: 0px;
		/*max-height: 800px;
		max-width: 1200px;
		height: 100%;
		width: 100%;*/
    }
	
#myCanvas {
        /*border: 1px solid #9C9898;*/
		font-family: gameOver;
		/*font-family: StarWars;*/
}

@font-face {
        font-family: StarWars;
        src: url('font/STARWARS.ttf') format('trueType');
    
    }
	
@font-face {
        font-family: gameOver;
        src: url('font/LVDCGO__.ttf') format('trueType');
    }
