body {

	margin: 0px;
	padding: 0px;
	background:black;
	
	}
	
#myCanvas {

		font-family: gameOver;
		
	}

@font-face {

        font-family: StarWars;
        src: url('font/STARWARS.ttf') format('trueType');
    
    }
	
@font-face {

        font-family: gameOver;
        src: url('font/LVDCGO__.ttf') format('trueType');
		
    }
