@viewport {
   width: device-width; /* largeur du viewport */
   height : device-height;
   zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}



body {
		background:red;
		margin: 0px;
        padding: 0px;
		/*min-width : 600;*/
		/*min-height : 400;*/
    }
	
#myCanvas {
        /*border: 1px solid #9C9898;*/
		font-family: gameOver;
		
}

@font-face {
        font-family: StarWars;
        src: url('font/STARWARS.ttf') format('trueType');
    
    }
	
@font-face {
        font-family: gameOver;
        src: url('font/LVDCGO__.ttf') format('trueType');
    }
