body
{
background-image:url(../img/menu.png);
background-repeat: no-repeat;
}
/* conteneur principal */
#mainframe {
	max-width : 600px;
	max-height: 400px;
}


/* menu principal*/
#cssmenu {
	margin: 0;
	margin-top:25px;
	padding: 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}
#cssmenu{
	width: 232px;
	hight: 400px;
}
#cssmenu ul{
	list-style: none;
	text-indent: 0px;
}
#cssmenu li{
	margin-top: 20px;
}
#cssmenu a{
	font: 14px Verdana;
	padding: 4px;
	color: rgb(222,228,255);
	font-weight: bold;
	display:block;
	padding: 6px 30px;
	height: 30px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	background: url('../img/button.png') no-repeat;
}
#cssmenu a:hover{
	background: url('../img/button_highlight.png') no-repeat;
	/*padding: 6px 40px;*/
}

div#cssmenu
{
   margin-left: 23%;
   margin-right: auto;
  
}
/****************************************************
 * 	titre principal
 *****************************************************/

#titre {
	background: url('../img/title.png');
	background-repeat: no-repeat;
	background-position: center;
	font-size : 38px ;
    color : #FFFFFF ;
    text-shadow : 4px 1px 3px #000 ;
	text-align :center;
	min-height:120px;
}
/****************************************************
 * 	titre : menu difficulte
 *****************************************************/

#titre_difficulte {

    color : #FFFFFF ;
    text-shadow : 4px 1px 3px #000 ;
	text-align :center;
	padding-top:50px;
	background: url('../img/mode_select.png') no-repeat bottom;
	height:20px;
}

/****************************************************
 * 	titre : option
 *****************************************************/

#titre_option {

    color : #FFFFFF ;
    text-shadow : 4px 1px 3px #000 ;
	text-align :center;
	padding-top:40px;
}

/****************************************************
 * 	Boutons difficultés
 *****************************************************/
.push_button{
	position:relative;
	width:160px;
	height:50px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:24px auto;
	/*border-radius:5px;
	border:solid 1px #D94E3B;
	background:#cb3b27;*/
	text-align:center;
	/*padding:10px 10px;*/
	/*-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #84261a;
        -moz-box-shadow: 0px 9px 0px #84261a;
        box-shadow: 0px 9px 0px #84261a;*/
}

.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}

#easy{
	background: url('../img/easy.png') no-repeat;
}

#easy:hover{
	background: url('../img/easy_highlight.png') no-repeat;
}

#medium{
	background: url('../img/medium.png') no-repeat;
}

#medium:hover{
	background: url('../img/medium_highlight.png') no-repeat;
}

#hard{
	background: url('../img/hard.png') no-repeat;
}

#hard:hover{
	background: url('../img/hard_highlight.png') no-repeat;
}

/****************************************************
 * 	Sound option
 *****************************************************/
 
 .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	 padding-left: 250px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 19px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 13px; margin: 8.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}